APP_NAME=Lamba Car Care API
API_PREFIX=/api/v1
DEBUG=false

POSTGRES_DB=lamba_db
POSTGRES_USER=lamba_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me
PGADMIN_PORT=5050

SECRET_KEY=change_me
ACCESS_TOKEN_EXPIRE_MINUTES=1440

AI_PROVIDER=timeweb
AI_API_KEY=<AI_API_KEY>
AI_BASE_URL=<AI_BASE_URL>
AI_AGENT_ID=<AI_AGENT_ID>
AI_MODEL=default
AI_REQUEST_TIMEOUT_SECONDS=30

PROVERKACHEKA_API_TOKEN=<PROVERKACHEKA_API_TOKEN>
PROVERKACHEKA_API_URL=https://proverkacheka.com/api/v1/check/get
PROVERKACHEKA_REQUEST_TIMEOUT_SECONDS=20
