APP_NAME=Lamba Car Care API
API_PREFIX=/api/v1
DEBUG=false

POSTGRES_DB=lamba_db
POSTGRES_USER=lamba_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me

SECRET_KEY=change_me
ACCESS_TOKEN_EXPIRE_MINUTES=1440
MAX_UPLOAD_BYTES=10485760
